@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,900&family=Montserrat&family=Poppins:wght@100&display=swap');

* {margin: 0; padding:0px;border: 0; -webkit-appearance: none;font-family: 'Montserrat', sans-serif; text-decoration: none; font-weight: 0; box-sizing: border-box;}
html, body {overflow-x: hidden; width: 100vw; height: 100vh; overflow-y: scroll;}

header {
    background-image: linear-gradient(to right bottom, #c3c8d2, #a5b2cb, #98aed5, #7d9fd0, #3d72b4);
    grid-template-rows: 220px 1fr;   
}
.contact-container{grid-template-rows: 50px 1fr;width: 200px; margin: 0 10%;}
.box-details {width: 100px;}
.button-reset {background-color:linear-gradient(to right bottom, #c3c8d2, #a5b2cb, #98aed5, #7d9fd0, #3d72b4);border: none;}

.input-grid{grid-template-columns: 2fr 1fr; background-color:linear-gradient(to right bottom, #c3c8d2, #a5b2cb, #98aed5, #7d9fd0, #3d72b4);}
.input-item {padding: 10px;background-color:linear-gradient(to right bottom, #c3c8d2, #a5b2cb, #98aed5, #7d9fd0, #3d72b4);}
