@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,900&family=Montserrat&family=Poppins:wght@100&display=swap');

* {margin: 0; padding:0px;border: 0; -webkit-appearance: none;font-family: 'Montserrat', sans-serif; text-decoration: none; font-weight: 0; box-sizing: border-box;}
html, body {overflow-x: hidden; width: 100vw; height: 100vh; overflow-y: scroll;}

header {
    background-image: linear-gradient(to right top, #c3c8d2, #9ca6ba, #7585a3, #4e668c, #234876);
    grid-template-rows: 80px 1fr 100px;  
}
.overly{display: none; background:linear-gradient(to left top, #c3c8d2, #9ca6ba, #7585a3, #4e668c, #234876);}
.contact-container{grid-template-rows: 50px 50px 1fr; margin: 2% 10%}

.box-details{grid-template-rows: 60px 60px 60px 1fr;}
.button-reset {background-image: linear-gradient(to left top, #c3c8d2, #9ca6ba, #7585a3, #4e668c, #234876);border: solid 1px #9ca6ba; color: white; width: 80px;}
.button-reset:hover {background-image: linear-gradient(to right top, #c3c8d2, #9ca6ba, #7585a3, #4e668c, #234876);}

.input-grid {grid-template-columns: 1fr 100px;width: 600px;}
#alert-box {background-color: white; height:300px;width: 600px;position: absolute; display: none; z-index: 300;}
#alert-box p{padding-top: 50px;}
#exit-contact {position: absolute; right: 0px; z-index: 200;}
.overly {display: none; background-color: #5a6579d2; position: absolute; z-index: 100;}

@media screen and (min-width : 0px) and (max-width : 850px) {
    .upper-nav{display: none!important;}   
    .inner-nav{display: none!important;} 
    .nav-mobile{display: flex; justify-content: space-between; z-index: 200;}
    #exit{display: none;}
    #exit{padding: 10px 10px 0 0 }
    .nav-items{display: none; position: absolute; margin: 35%;gap: 10px!important;}
    .contact-container{margin: 0;grid-template-rows: 100px 50px 1fr; gap: 20px;}
    .header-title{text-align: center;width: 80%; margin-top: 30%;}
    .input-grid {width: 380px;}
    
    .footer {position:relative; bottom: 0;height: 160px; margin-top: 50px;}
    .footer-container{margin: 0; font-size: 15px; text-align: left; display: grid!important;}
}
@media screen and (min-width : 1368px) and (max-width : 1920px) {
    .header-title{margin-top: 10%;}
   
   }
